* {
    margin: 0;
    padding: 0;
}

header,
main,
footer .footer,
footer .form {
    padding-left: 20px;
}

li {
    list-style-type: none;
}

header {
    background-color: #2B0021;
    color: #FFB2EC;
}

.avatar {
    width: 250px;
    border-radius: 50%;
}

main {
    background-color: #FFB2EC;
    color: #2B0021;
}


.form {
    background-color: #BE76AC;
    color: #2B0021;
}

.form-part input {
    background-color: #BE76AC;
    border: none;
    border-bottom: 1px solid #2B0021;
    width: 30%;
}

.form-part textarea {
    resize: none;
    background-color: #BE76AC;
    border: none;
    border-bottom: 1px solid #2B0021;
    width: 60%;
}


.button {
    background-color: #2B0021;
    color: #FFB2EC;
    width: 150px;
    height: 45px;
}

.footer {
    background-color: #2B0021;
    color: #FFB2EC;
}

.footer a {
    text-decoration: none;
    color: #FFB2EC;
}

.copyright {
    color: #BE63A8;
}