* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.language-item,
.contacts-item {
    list-style-type: none;
}

.header {
    background-color: #A6823E;
    color: #F3C979;
}

.header-img {
    width: 250px;
    border-radius: 50%;
}

.header-container {
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 100px
}

.header-title {
    margin-bottom: 10px;
}

.main {
    padding: 60px 50px;
    background-color: #F3C979;
    color: #7E5806;
}

.objective-text:first-of-type {
    margin-bottom: 20px;
}

.objective-title,
.experience-title,
.skills-title,
.language-title {
    margin-bottom: 30px;
}

.experience-title,
.skills-title,
.language-title {
    margin-top: 80px;
}

.experience-note {
    display: flex;
    width: 25%;
}

.experience-note-title {
    line-height: 1.5;
}

.experience-text {
    line-height: 1.3;
}

.first-title {
    margin-left: 63px;
}

.second-title {
    margin-left: 78px;
}

.third-title {
    margin-left: 80px;
}

.experience-text {
    padding-left: 150px;
}

.language-list {
    padding-left: 20px;
}

.language-item::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #E9A11C;
}



.form {
    background-color: #E9A11C;
    color: #7E5806;
}

.form-part input {
    background-color: #E9A11C;
    border: none;
    border-bottom: 1px solid #7E5806;
    width: 250px;

    outline: none;
}

.form-part textarea {
    resize: none;
    background-color: #E9A11C;
    border: none;
    border-bottom: 1px solid #7E5806;
    width: 520px;


    outline: none;

    margin-bottom: 50px;
}

.form-container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}


.form-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parts-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #A6823E;
    color: #F3C979;
    width: 150px;
    height: 45px;
    position: center;
    border: none;
}

.button:hover {
    background-color: #F3C979;
    color: #A6823E;
}

.contacts {
    padding: 30px 0 20px;
    background-color: #A6823E;
    color: #F3C979;
}

.contacts-title {
    text-align: center;
    margin-bottom: 40px;
}

.contacts-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}



.item-link {
    text-decoration: none;
    color: #F3C979;
}

.item-link:hover {
    color: #A6823E;
    background-color: #F3C979;
}

.copyright {
    color: #7E5806;
    text-align: center;
}